.routerView{
    height: auto;
    min-height: 60%;
}

.app{
    background-image: url("../images/background.jpg");
    height: 100vh;
    
}

/* footer */
.sf-footer{
    padding: 0% 10% 0% 10% !important;
}

.sf-footer .sf-footer-column.not-image{
    padding-top: 20%;
}

/* text color */
.text-selected{
    color:yellowgreen !important; 
}

/* header */
.mobile_header_list{
    background-color: white;
    opacity: 0.5;
}
.mobile_header_list_selected{
    background-color: white;
    opacity: 1.0;

}