/* general */
.routerView{
    height: auto;
    min-height: 100vh;
}

.fontSizeXXL{font-size: xx-large;}
.fontSizeXL{font-size: x-large;}
.fontSizeLarger{font-size: larger;}
.fontSizeLarge{font-size: large;}
.fontSizeMedium{font-size: medium;}
.fontSizeSmall{font-size: small;}
.fontSizeXS{font-size: x-small;}
.fontSizeXXS{font-size: xx-small;}

.shadowOrange{ text-shadow: .1rem .1rem 3rem #f39412;}
.shadowOrange{ text-shadow: .1rem .1rem 3rem #f39412;}

/* disable text highlight */
div{ 
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}


/* footer */
.sf-footer{
    padding: 0% 10% 0% 10% !important;
    /* position: absolute; */
    width: 100%;
    bottom: 0;
}

.sf-footer .sf-footer-column.not-image{
    padding-top: 20%;
}

/* text color */
.text-selected{
    color:yellowgreen !important; 
}

/* header */
.mobile_header_list{
    background-color: white;
    opacity: 0.5;
}
.mobile_header_list_selected{
    background-color: white;
    opacity: 1.0;

}

/* body */
body{
    background-image: url("../images/background.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.banner-image{
    /* max-width: 100%; */
    max-height: 100%;
    /* width:auto;
    height:auto; */
}


/* Product */
.productTitle{margin: 1rem 2rem;}

.productCategoryBar{display: flex; flex-wrap: wrap; justify-content: center; padding: 1rem; }
.productCategoryBarItem{padding: 1rem; transition: .2s;}
.productCategoryBarItem.active{font-weight: bold;}
.productCategoryBarItem.hovered{background-color: rgba(0, 0, 0, 0.30);}

.showCategoryMobile{margin: .2rem; }
.productCategoryBarMobile{display: flex; flex-direction: column; margin-left: .2rem;}
.productCategoryBarItemMobile{padding: .2rem .2rem .2rem 2rem; transition: .2s;}
.productCategoryBarItemMobile.active{font-weight: bold;}
.productCategoryBarItemMobile.hovered{background-color: rgba(0, 0, 0, 0.30);}

.allProductsContainer{margin: 0 2rem; display: flex; justify-content: space-around;}
.allProductsContainer .productContainer{ }